version: '3'
services:
    db:
        image: postgres:12.0
        ports:
            - 5432:5432
        environment:
            - POSTGRES_USER=postgres_user
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=postgres_db

    server:
        build:
            context: ./
            dockerfile: debug.Dockerfile
        command: python3 -m ptvsd --host 0.0.0.0 --port 5678 --wait manage.py runserver 0.0.0.0:8000
        depends_on:
            - db
            - redis
        environment:
            DATABASE_URL: postgres://postgres_user:password@db:5432/postgres_db
        ports:
            - 8000:8000
            - 5678:5678
        volumes:
            - ./server:/server
    
    redis:
        image: redis:5.0.6
    
    celery:
        build:
            context: ./
            dockerfile: ./server/Dockerfile
        command: celery -A config worker -l info -B
        volumes:
            - ./server:/server
        depends_on:
            - db
            - redis
        environment:
            DATABASE_URL: postgres://postgres_user:password@db:5432/postgres_db